<div class="tracklist">
    <ul class="list-group">
        <li class="list-group-item">
            <p class="track-name">{{name}}</p>
            <audio controls src="{{preview_url}}">
            Your browser does not support the <code>audio</code> element.
            </audio>
        </li>
    </ul>
    <div>
        <img src="" alt="">
    </div>
</div>