<div class="container">
    <h1>Track List of "<i>{{albumName}}</i>" by {{tracks.0.artists.0.name}}</h1>
    <img class="track-album-img" src={{albumImage}} alt={{name}} />
    <div class="column">
        {{#each tracks}}
        {{> eachTrack}}
        {{/each}}
    </div>
    <a href="/">Home</a>
</div>